<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Pokemon</title>
    <link rel="stylesheet" href="stylesheets/style.css">

    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

    <script type="text/javascript" src="js/script.js"></script>
  </head>
  <body>

    <nav>
      <div class="nav-wrapper">
        <a href="#" class="brand-logo"><img class="pokemon-logo-image" src="images/pokemon-logo.png"></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="/trainers">Trainers</a></li>
          <li><a href="/pokemon">Pokemón</a></li>
          <li><a href="#">Gym</a></li>
        </ul>
      </div>
    </nav>


    <div class="pokemon-main mdl-layout mdl-js-layout mdl-layout--fixed-header">
      <div class="pokemon-content mdl-layout__content">

        <div class="app-content pokemon-wear-section">

          <h1>CONTENT GOES HERE - 'pokemon.ejs'</h1>

          <!-- // CREATE NEW POKEMON FORM -->
          <!-- Modal Trigger -->
          <a class="waves-effect waves-light btn modal-trigger" href="#modal1">CREATE NEW POKEMON</a>

          <!-- Modal Structure -->
          <div id="modal1" class="modal">
            <div class="modal-content">
              <h4>CREATE NEW POKEMON</h4>

              <form action="/pokemon" method="post">
                <select name='trainers'>
                  <option disabled selected>CHOOSE THE TRAINER</option>
                  <% for (let i = 0; i < trainersInfo.length; i++){ %>
                  <option value="<%= trainersInfo[i].id %>"><%= trainersInfo[i].name %></option>
                  <!-- <option><%= trainersInfo[i].id %></option> -->
                  <% } %>
                </select>

                <input type="text" name="name" placeholder="name">
                <input type="number" name="cp" placeholder="cp">

                <div>
                  In The Gym?
                    <input name="in_gym" type="radio" id="yes" />
                    <label for="yes">Yes</label>
                    <input name="in_gym" type="radio" id="no" />
                    <label for="no">No</label>
                </div><br>

                <input type="submit" value="Create">
              </form>
            </div>
            <div class="modal-footer">
              <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Cancel</a>
            </div>
          </div>


          <!-- // TABLE WITH LISTED POKEMON AND THEIR PROPERTIES -->
          <div class="pokemonListTable">
            <table>
              <thead>
                <tr>
                    <th>Pokemon</th>
                    <th>Trainer</th>
                    <th>Combat Power</th>
                    <th>In The Gym?</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
              </thead>
              <tbody>
                <% for(let x = 0; x < pokemonInfo.length; x++) { %>
                <tr>
                  <td> <%= pokemonInfo[x].name %> </td>
                  <td> <%= trainersInfo.name %> </td>
                  <td> <%= pokemonInfo[x].cp %> </td>
                  <td> <%= pokemonInfo[x].in_gym %> </td>
                  <td> <a href="/edit/<%= pokemonInfo[x].id %>">Edit</a></td>
                  <td> <a href="/delete/<%= pokemonInfo[x].id %>">Delete</a></td>
                </tr>
                <% } %>
              </tbody>
            </table>
          </div>


        </div>

        <!-- // FOOTER -->
        <footer class="pokemon-footer mdl-mega-footer">
          Your slogan.
        </footer>

      </div>
    </div>
    <script src="https://code.getmdl.io/1.1.3/material.min.js"></script>

  </body>
</html>




 <!-- last update: sat28oct2017@0830 -->
